---
import Layout from "../layout/Layout.astro";
---


<Layout>
   <h1>this is the contact page</h1> 
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deserunt molestiae velit animi. Facere doloremque sint praesentium, suscipit minus ut doloribus commodi odio dolore quisquam odit assumenda est at. Accusamus, inventore!</p>
</Layout>