---
import Layout from "../layout/Layout.astro";
---
<style>

</style>
<Layout>
	<h1>ini halaman homepage</h1>
	<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto cumque accusamus quibusdam ad! Suscipit ad veniam molestiae, deleniti adipisci, sunt omnis non nesciunt mollitia atque libero quae possimus, pariatur ipsam.</p>
</Layout>
